.table{
    display: flex;
    flex-wrap: wrap;
    height: auto;
    background-color: lightblue;
    width: 30rem;
    margin: 2rem auto;    
    border-radius: 50px;
    color: white;
    align-content: flex-start;
    text-align: center;
    font-size: 20px;
}

.name, .weather{
    flex-basis: 100%;
    background-color: darkorchid;    
    border-radius: 50px;
    margin: 1rem;
    margin-bottom: 0;
    padding: 5px; 
    padding: 5%;
    
}

.weather{   
    background-color: darkslateblue;   
}

img{
    width: 50px;
    height: 50px;
}

.temperature, .humidity{
    flex-basis: 45%;
    border-radius: 50px;
    margin: 2.5%;
    background-color: navy;
    padding: 5% 0; 
}

.search-bar{
    width: 100%;    
    display: block;
    margin: 1rem 38%;
}

.search{
    border-radius: 3px;
    border: black 1px solid;
    height: 1.5rem;
}

.btn{
    color: white;
    border : none;
    height: 1.8rem;
    widows: 3rem;
    background-color: violet;
    margin: 0 1rem;
}